{% extends 'mastersheet/main.html' %}
{% block content %}
<div class="header-bar">
    <h3>Simulation</h3>
    <a href="{% url 'simulations' %}">&#8592; Back</a>
</div>

{{ form.errors }}

<div class="card-body">
<form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="info_section">
            <div class="row">
                <b>Simulation Name</b>
               {{ form.simulation.full_name }}
            </div>
            <div class="row">
                <b>Description</b>
               {{ form.simulation.description }}
            </div>
            <div class="row">
                <b>Post processing link</b>
               {{ form.simulation.post_processing }}
            </div>
            <div class="row">
                <b>Report link</b>
               {{ form.simulation.report }}
            </div>
            <div class="row">
                <b></b>
                <p><label><input type="checkbox" id="read" name="Read" onclick="hideContent()">Read from file</label></p>
            </div>
<!--            <div>-->
<!--                {{ form.state }}-->
<!--            </div>-->
        </div>

        <!--- TODO do it in a nice way - iterate over a form.chassis - maybe some vars in view.py??-->
        <div class="data_section" id="general_info">
            <div>
                <b>Total df</b>
                {{ form.df.total }}
            </div>
            <div>
                <b>Total drag</b>
                {{ form.drag.total }}
            </div>
            <div>
                <b>Balance</b>
                {{ form.simulation.balance }}
            </div>
            <div>
                <b>HE Massflow</b>
                {{ form.simulation.massflow }}
            </div>
        </div>
        <div class="data_section" id="columns">
            <div class="column" id="names">
                <b>Body name</b>
                <div class="form-name">
                {{ form.chassis.body.full_name.errors }} {{ form.chassis.body.full_name }}
                </div>
                <b>Front wing name</b>
                <div class="form-name">
                {{form.chassis.front_wing.full_name.errors}} {{ form.chassis.front_wing.full_name }}
                </div>
                <b>Rear wing name</b>
                <div class="form-name">
                {{form.chassis.rear_wing.full_name.errors}} {{ form.chassis.rear_wing.full_name }}
                </div>
                <b>Sidepod name</b>
                <div class="form-name">
                {{form.chassis.sidepod.full_name.errors}} {{ form.chassis.sidepod.full_name }}
                </div>
                <b>Diffuser name</b>
                <div class="form-name">
                {{form.chassis.diffuser.full_name.errors}} {{ form.chassis.diffuser.full_name }}
                </div>
                <b>Suspension name</b>
                <div class="form-name">
                {{form.chassis.suspension.full_name.errors}} {{ form.chassis.suspension.full_name }}
                </div>
                <b>Front wheel name</b>
                <div class="form-name">
                {{form.chassis.wheel_front.full_name.errors}} {{ form.chassis.wheel_front.full_name }}
                </div>
                <b>Rear wheel name</b>
                <div class="form-name">
                {{form.chassis.wheel_rear.full_name.errors}} {{ form.chassis.wheel_rear.full_name }}
                </div>
            </div>
            <div class="column" id="df">
                <b>Body df</b>
                {{form.df.body}}
                <b>Front wing df</b>
                {{form.df.front_wing}}
                <b>Rear wing df</b>
                {{form.df.rear_wing}}
                <b>Sidepod df</b>
                {{form.df.sidepod}}
                <b>Diffuser df</b>
                {{form.df.diffuser}}
                <b>Suspension df</b>
                {{form.df.suspension}}
                <b>Front wheel df</b>
                {{form.df.wheel_front}}
                <b>Rear wheel df</b>
                {{form.df.wheel_rear}}
            </div>
            <div class="column" id="drag">
                <b>Body drag</b>
                {{form.drag.body}}
                <b>Front wing drag</b>
                {{form.drag.front_wing}}
                <b>Rear wing drag</b>
                {{form.drag.rear_wing}}
                <b>Sidepod drag</b>
                {{form.drag.sidepod}}
                <b>Diffuser drag</b>
                {{form.drag.diffuser}}
                <b>Suspension drag</b>
                {{form.drag.suspension}}
                <b>Front wheel drag</b>
                {{form.drag.wheel_front}}
                <b>Rear wheel drag</b>
                {{form.drag.wheel_rear}}
            </div>
        </div>
        <input class="button" type="submit" value="Submit">
    </form>
</div>

{% endblock content %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'js/simulation_form.js' %}"></script>
{% endblock scripts %}