{% extends 'mastersheet/main.html' %}
{% block content %}
<div class="header-bar">
    <h3>Simulation</h3>
    <a href="{% url 'simulations' %}">&#8592; Back</a>
</div>

<div class="card-body">
<form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="info_section">
            <div class="update_row">
                <div class="container">
                    <b>Simulation main version</b>
                    {{ form.main_v }}
                </div>
                <div class="container">
                    <b>Simulation sub version</b>
                    {{ form.sub_v }}
                </div>
            </div>
            <div class="update_row">
                <div class="container column">
                    <b>Description</b>
                    {{ form.description }}
                </div>
            </div>
            <div class="update_row">
                <div class="container column">
                    <b>Post processing link</b>
                   {{ form.post_processing }}
                </div>
                </div>
            <div class="update_row">
            <div class="container column">
                <b>Simulation state</b>
                {{ form.state }}
                <b>Simulation parent</b>
                {{ form.parent }}
                <p><label><input type="checkbox" id="read" name="Read" onclick="hideContent()">Read from file</label></p>
            </div>
            </div>
        </div>

        <div class="data_section" id="general_info">
            <div>
                <b>Total df</b>
                {{ forces.df.total }}
            </div>
            <div>
                <b>Total drag</b>
                {{ forces.drag.total }}
            </div>
            <div>
                <b>Balance</b>
                {{ form.balance }}
            </div>
            <div>
                <b>HE Massflow</b>
                {{ form.massflow }}
            </div>
        </div>

        <div class="data_section" id="columns">
            <div class="update_column" id="names">
                <div class="update_column">
                <div class="update_row">
                        <b>Body main version</b>
                        <b>Body sub version</b>
                    </div>
                    <div class="update_row_input">
                        {{ sub_forms.body.main_v }}
                        {{ sub_forms.body.sub_v }}
                    </div>
                </div>
                <div class="update_column">
                <div class="update_row">
                        <b>Front wing main version</b>
                        <b>Front wing sub version</b>
                    </div>
                    <div class="update_row_input">
                        {{ sub_forms.front_wing.main_v }}
                        {{ sub_forms.front_wing.sub_v }}
                    </div>
                </div>
                <div class="update_column">
                <div class="update_row">
                        <b>Rear wing main version</b>
                        <b>Rear wing sub version</b>
                    </div>
                    <div class="update_row_input">
                        {{ sub_forms.rear_wing.main_v }}
                        {{ sub_forms.rear_wing.sub_v }}
                    </div>
                </div>
                <div class="update_column">
                <div class="update_row">
                        <b>Sidepod main version</b>
                        <b>Sidepod sub version</b>
                    </div>
                    <div class="update_row_input">
                        {{ sub_forms.sidepod.main_v }}
                        {{ sub_forms.sidepod.sub_v }}
                    </div>
                </div>
                <div class="update_column">
                <div class="update_row">
                        <b>Diffuser main version</b>
                        <b>Diffuser sub version</b>
                    </div>
                    <div class="update_row_input">
                        {{ sub_forms.diffuser.main_v }}
                        {{ sub_forms.diffuser.sub_v }}
                    </div>
                </div>
                <div class="update_column">
                <div class="update_row">
                        <b>Suspension main version</b>
                        <b>Suspension sub version</b>
                    </div>
                    <div class="update_row_input">
                        {{ sub_forms.suspension.main_v }}
                        {{ sub_forms.suspension.sub_v }}
                    </div>
                </div>
                <div class="update_column">
                <div class="update_row">
                        <b>Front wheel main version</b>
                        <b>Front wheel sub version</b>
                    </div>
                    <div class="update_row_input">
                        {{ sub_forms.wheel_front.main_v }}
                        {{ sub_forms.wheel_front.sub_v }}
                    </div>
                </div>
                <div class="update_column">
                    <div class="update_row">
                        <b>Rear wheel main version</b>
                        <b>Rear wheel sub version</b>
                    </div>
                    <div class="update_row_input">
                        {{ sub_forms.wheel_rear.main_v }}
                        {{ sub_forms.wheel_rear.sub_v }}
                    </div>
                </div>
            </div>
            <div class="column" id="df">
                <b>Body df</b>
                {{forces.df.body}}
                <b>Front wing df</b>
                {{forces.df.front_wing}}
                <b>Rear wing df</b>
                {{forces.df.rear_wing}}
                <b>Sidepod df</b>
                {{forces.df.sidepod}}
                <b>Diffuser df</b>
                {{forces.df.diffuser}}
                <b>Suspension df</b>
                {{forces.df.suspension}}
                <b>Front wheel df</b>
                {{forces.df.wheel_front}}
                <b>Rear wheel df</b>
                {{forces.df.wheel_rear}}
            </div>
            <div class="column" id="drag">
                <b>Body drag</b>
                {{forces.drag.body}}
                <b>Front wing drag</b>
                {{forces.drag.front_wing}}
                <b>Rear wing drag</b>
                {{forces.drag.rear_wing}}
                <b>Sidepod drag</b>
                {{forces.drag.sidepod}}
                <b>Diffuser drag</b>
                {{forces.drag.diffuser}}
                <b>Suspension drag</b>
                {{forces.drag.suspension}}
                <b>Front wheel drag</b>
                {{forces.drag.wheel_front}}
                <b>Rear wheel drag</b>
                {{forces.drag.wheel_rear}}
            </div>
        </div>

    <div>
        <input class="button" type="submit" value="Submit">
    </div>
    </form>
</div>

{% endblock content %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'js/simulation_form.js' %}"></script>
{% endblock scripts %}