{% extends 'mastersheet/main.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>C-models mastersheet</h1>
        <h2>Hello {{request.user|title}}</h2>
        <h3 style="margin:0">There {{ count|pluralize:"is,are" }} <i>{{count}} simulation{{ count|pluralize:"s" }}</i></h3>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<div id="search-add-wrapper">
    <form method="GET" style="margin-top: 20px; display: flex;">
        <input type="text" name="search-area" value="{{search_input}}">
        <input class='button' type="submit" value="Search">
    </form>
    <a id='add-link' href="{% url 'simulation-create' %}">&#9998;</a>
</div>

<div class="simulation-items-wrapper">
    <div class="simulation-header">
        <div class="simulation-detail">
        Body
        </div>
        <div class="simulation-detail">
        Front Wing
        </div>
        <div class="simulation-detail">
        Rear Wing
        </div>
        <div class="simulation-detail">
        Sidepod
        </div>
        <div class="simulation-detail">
        Diffuser
        </div>
        <div class="simulation-detail">
        Suspension
        </div>
        <div class="simulation-detail">
        Downforce
        </div>
        <div class="simulation-detail">
        Drag
        </div>
        <div class="simulation-detail">
        Balance
        </div>
        <div class="simulation-detail">
        HE - massflow
        </div>
    </div>
    {% for simulation in object_list %}
        <div class="simulation-wrapper">
            <div class="simulation-title">
                <div class="simulation-icon"></div>
                <a href="{% url 'simulation'  simulation.slug %}">C_{{simulation}}</a>
            </div>
            <div class="simulation-detail">
                <div class="simulation-detail">
                B_{{simulation.chassis.body}}
                </div>
                <div class="simulation-detail">
                FW_{{simulation.chassis.front_wing}}
                </div>
                <div class="simulation-detail">
                RW_{{simulation.chassis.rear_wing}}
                </div>
                <div class="simulation-detail">
                S_{{simulation.chassis.sidepod}}
                </div>
                <div class="simulation-detail">
                D_{{simulation.chassis.diffuser}}
                </div>
                <div class="simulation-detail">
                SU_{{simulation.chassis.suspension}}
                </div>
                <div class="simulation-detail">
                {{simulation.df.total}}
                </div>
                <div class="simulation-detail">
                {{simulation.drag.total}}
                </div>
                <div class="simulation-detail">
                {{simulation.balance}}
                </div>
                <div class="simulation-detail">
                {{simulation.massflow}}
                </div>
            </div>
            <a id='edit-link' href="{% url 'simulation-update' simulation.slug %}">&#9850;</a>
            <a class='delete-link' href="{% url 'simulation-delete' simulation.slug %}">&#9760;</a>
        </div>
    {% empty %}
    <div class="simulation-title">No simulations</div>
    {% endfor %}
</div>

{% endblock content %}