{% extends 'mastersheet/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Simulation: {{simulation}}</h1>
    <a href="{% url 'simulations' %}">&#8592; Back</a>
</div>
<!--- TODO in a loop!! --->
<div class="simulation-title">
    <h3>Downforce</h3>
</div>
<div class="simulation-detail">
    <div class="simulation-detail">
         FW
    </div>
    <div class="simulation-detail">
         RW
    </div>
    <div class="simulation-detail">
         S
    </div>
    <div class="simulation-detail">
         D
    </div>
    <div class="simulation-detail">
          U
    </div>
    <div class="simulation-detail">
          N
    </div>
</div>
<div class="simulation-detail">
    <div class="simulation-detail">
         {{simulation.front_wing_df}}
    </div>
    <div class="simulation-detail">
         {{simulation.rear_wing_df}}
    </div>
    <div class="simulation-detail">
         {{simulation.sidepod_df}}
    </div>
    <div class="simulation-detail">
         {{simulation.diffuser_df}}
    </div>
    <div class="simulation-detail">
          {{simulation.undertray_df}}
    </div>
    <div class="simulation-detail">
          {{simulation.nose_df}}
    </div>
</div>


<hr>
<div class="simulation-title">
    <h3>Drag</h3>
</div>
<div class="simulation-detail">
    <div class="simulation-detail">
         FW
    </div>
    <div class="simulation-detail">
         RW
    </div>
    <div class="simulation-detail">
         S
    </div>
    <div class="simulation-detail">
         D
    </div>
    <div class="simulation-detail">
          U
    </div>
    <div class="simulation-detail">
          N
    </div>
</div>
<div class="simulation-detail">
    <div class="simulation-detail">
         {{simulation.front_wing_drag}}
    </div>
    <div class="simulation-detail">
         {{simulation.rear_wing_drag}}
    </div>
    <div class="simulation-detail">
         {{simulation.sidepod_drag}}
    </div>
    <div class="simulation-detail">
         {{simulation.diffuser_drag}}
    </div>
    <div class="simulation-detail">
          {{simulation.undertray_drag}}
    </div>
    <div class="simulation-detail">
          {{simulation.nose_drag}}
    </div>
</div>


{% endblock content %}