{% extends 'mastersheet/main.html' %}
{% block content %}

<div class="header-bar">
    <h3>Simulation</h3>
    <a href="{% url 'simulations' %}">&#8592; Back</a>
</div>

<div class="card-body">
    <h2>{{test}}</h2>
    <form method="POST" action="">
        <p><label><input type="checkbox" name="Read" value="test" id="read">Read from file</label></p>
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Submit">
    </form>
</div>



{% endblock content %}