{% extends 'mastersheet/main.html' %}
{% block content %}

<h1>Simulation: {{simulation}}</h1>

<hr>
<h3>Downforce</h3>

<table>
    <tr>
        <th>FW</th>
        <th>RW</th>
        <th>S</th>
        <th>D</th>
        <th>U</th>
        <th>N</th>
    </tr>

    <tr>
        <td> {{simulation.front_wing_df}} </td>
        <td> {{simulation.rear_wing_df}} </td>
        <td> {{simulation.sidepod_df}} </td>
        <td> {{simulation.diffuser_df}} </td>
        <td> {{simulation.undertray_df}} </td>
        <td> {{simulation.nose_df}} </td>

</table>

<hr>
<h3>Drag</h3>

<table>
    <tr>
        <th>FW</th>
        <th>RW</th>
        <th>S</th>
        <th>D</th>
        <th>U</th>
        <th>N</th>
    </tr>
    <tr>
        <td> {{simulation.front_wing_drag}} </td>
        <td> {{simulation.rear_wing_drag}} </td>
        <td> {{simulation.sidepod_drag}} </td>
        <td> {{simulation.diffuser_drag}} </td>
        <td> {{simulation.undertray_drag}} </td>
        <td> {{simulation.nose_drag}} </td>

</table>

<a href="{% url 'simulations' %}">Go back</a>

{% endblock content %}